html, body {
    width: 100%;
    height:100%;
     }
  
 .background-animation{
    
      height:100vh;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

/* .container-front{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5,1fr);
    
} */

.intro{
    height: 100vh;
    position: relative;
    padding: 100px 0 0 100px ;
    font-family: 'Gorditas', cursive;
    list-style-type: none;
    color: white;
    font-size: 50px;
}
.intro span{
    color:darkblue;
}
.pic{
    /* clip-path: circle(50.2% at 50% 50%); */
    clip-path: ellipse(170px 190px at 70% 30%);
    border-radius: 10px;
    width: 320px;
    position: absolute;
    right: 160px;
    top: 95px;

}

.contact{
    
    border: 2px solid black;
    background-color: rgb(154, 213, 233);
    border-radius: 3px;
    font-size : 20px;
}
.contact:hover{
    background-color: black;
    color:rgb(154, 213, 233) ;
}
.heading{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    color:royalblue;
    font-family: 'Gorditas', cursive;
}
.aboutcontainer{
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(6,minmax(auto,100px));
}
.aboutpic{
    clip-path: circle(50.2% at 50% 50%);
    height: 100%;
    width: 100%;
    grid-area: 1/2/3/4;
}
.aboutme{
    text-transform: capitalize;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-family:'Gorditas', cursive;
    font-size: 20px;
    grid-area: 1/6/4/10;
}
.name{
    font-size: larger;
    color:rgb(246, 86, 22);
}
/* skills */
.skills{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-items{
    
    flex-basis: 15%;
    margin: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;

}

.image{
    
    width: 100%;      
}
.flex-items img{
    height: 100%;
    width: 100%;
}
/* EDUCATION */
.edu{
    color: tomato;
    font-family: 'Gorditas', cursive;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.edu-item{
    
    flex-basis: 30%;
    margin: 30px;
    height: 550px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
   
}
.heading2{
    
    width: 100%;
    flex-basis: 100%;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
.para{
    
    width: 100%;
    flex-basis: 100%;
    font-size: 28px;
    padding: 20px;
}
.edu-item img{
    box-shadow: 2px 2px 6px black, -2px -2px 6px black;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bolder;
    font-size: 28px;

}
.heading2{
    color: rgb(53, 184, 228);
}
/* contact */
.contactme{
    text-align: center;
    word-spacing: 20px;
    padding-bottom: 10px;
}
.contactme img:hover{
    border-radius: 10px;
    background-color: black;
}